
.modal-header{
    background-image: linear-gradient(to right, black 10%, rgb(48, 4, 99));
    text-align: center;
}

.modal-body{
    background-image: url("/img/background5.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;



    figure{
        max-width:75%;
        height: 20%;
        position: relative;
        margin: auto;
        img{
            width: 100%;
            height: 100%;
            border-radius: 20px;
        }
    }
}

.modal-footer{
    background-image: linear-gradient(to left, black 10%, rgb(48, 4, 99));


    button {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
          "Liberation Mono", "Courier New", monospace;
        font-size: 17px;
        padding: 0.7rem 2em;
        font-weight: 500;
        background: #1f2937;
        color: white;
        border: none;
        position: relative;
        overflow: hidden;
        border-radius: 0.6em;
        cursor: pointer;
      }
      
      .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 0.6em;
        margin-top: -0.25em;
        background-image: linear-gradient(
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.3)
        );
      }
      
      .label {
        position: relative;
        top: -1px;
      }
      
      .transition {
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 500ms;
        background-color: rgba(9, 56, 99, 0.911);
        border-radius: 9999px;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      
      button:hover .transition {
        width: 14em;
        height: 14em;
      }
      
      button:active {
        transform: scale(0.97);
      }
      
}